@keyframes animacionheader {
    0% {background-color:$color2 ;}
    10%{ background-image: linear-gradient(to right,$color3, $color2 90%) ;}
    20%{ background-image: linear-gradient(to right,$color3, $color2 80%) ;}
    30%{ background-image: linear-gradient(to right,$color3, $color2 70%) ;}
    40%{ background-image: linear-gradient(to right,$color3, $color2 60%) ;}
    50%{ background-image: linear-gradient(to right,$color3, $color2 50% ) ;}
    60%{background-image: linear-gradient(to bottom right, $color3 60%, $color2);}
    70%{background-image: linear-gradient(to bottom right, $color3 70%, $color2);}
    80%{background-image: linear-gradient(to bottom right, $color3 80%, $color2);}
    90%{background-image: linear-gradient(to bottom right, $color3 90%, $color2);}
    100%{background-image: linear-gradient(to bottom right, $color3 95%, $color2);}
}

@keyframes bordermoves{
    0%{border: dashed;}
    100%{border: dotted;}
}

@keyframes girar{
    0%{transform: rotate(1deg);}
    50%{transform: rotate(160deg);}
    100%{transform: rotate(359deg);}
}

@keyframes skew{
    0%{transform: skew(1deg);}
    50%{transform: skew(10deg);}
    100%{transform: skew(25deg);}
}