/*variables*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*comienza header*/
header {
  background-image: linear-gradient(to bottom right, #172CE6 80%, #F2A80C);
  background-position: center;
  width: 100vw;
  height: 150px;
  -webkit-animation-name: animacionheader;
          animation-name: animacionheader;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #F2A80C;
  font-size: 20px;
  font-weight: bolder;
  font-family: sans-serif;
  width: 90%;
  text-align: center;
}

nav {
  justify-content: flex-end;
  flex-direction: row-reverse;
  z-index: 5;
}
nav li {
  height: 50px;
  width: 40vw;
  background-color: black;
  border: solid #F2A80C 2px;
  text-align: center;
}
nav a {
  color: #F2A80C;
}
nav a:hover {
  color: #F5EEB8;
  transition: all 1s;
}

.navbar-toggler {
  background-color: #F2A80C;
  color: black;
}
.navbar-toggler:hover {
  background-color: #F5EEB8;
}

.dropdown-menu {
  border: solid #F2A80C 2px;
  background-color: #F2A80C;
}

.dropdown-item {
  background-color: #F2A80C;
  border-radius: 5px;
}
.dropdown-item:hover {
  background-color: #F5EEB8;
  transition: all 0.5s;
}

/*termina header*/
/*comienza main*/
main {
  background-color: #F5EEB8;
  width: 100vw;
}
main img {
  width: 90%;
  padding: 5vw;
}

h2 {
  text-align: justify;
  font-size: large;
  text-decoration: underline;
  color: #F2A80C;
  padding: 25px;
}

h3 {
  font-weight: bold;
  margin: 10px 35px 10px;
}

h4 {
  margin-left: 25px;
}

p {
  text-align: justify;
  margin: 35px;
}

.pieFoto {
  color: #172CE6;
}

.contacto__p {
  width: 70vw;
}

.redes__cont {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.redes img {
  list-style: none;
  width: 10vw;
  height: auto;
  box-sizing: unset;
}

iframe {
  position: relative;
  left: 15vw;
  width: 70vw;
  height: 35vw;
}

form {
  display: block;
  padding: 50px;
}

label {
  display: block;
  margin: 10px;
}

.formEscribir, .botonEnviar {
  background-color: #F2A80C;
  border: none;
  border-radius: 5px;
}
.formEscribir:focus, .botonEnviar:focus {
  background-color: #e9e64f;
  -webkit-animation: bordermoves 1s linear 0s infinite;
          animation: bordermoves 1s linear 0s infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  transition: all 1s;
}

.botonEnviar {
  width: 15vw;
  height: 35px;
  font-size: large;
}
.botonEnviar:hover {
  transform: scale(1.2, 1.2);
}

.girar {
  -webkit-animation: girar 8s linear 0s infinite;
          animation: girar 8s linear 0s infinite;
}

/*termina main*/
/*comienza footer*/
footer {
  height: 150px;
  width: 100vw;
  background-color: rgb(236, 129, 35);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-position-y: bottom;
}
footer img {
  width: 100px;
  height: 100px;
}
footer ul {
  list-style-image: url(../imgs/atomo.ico);
}
footer a {
  color: black;
}
footer a:hover {
  color: #e9e64f;
}
footer li {
  color: black;
}

/*termina footer*/
/* mediaq tablet*/
@media only screen and (min-width: 576px) {
  /*comienza header*/
  header {
    flex-flow: column nowrap;
    align-items: center;
  }
  h1 {
    font-size: 33px;
    text-align: center;
  }
  /*termina header*/
  /*comienza main*/
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  p {
    font-size: medium;
    text-align: justify;
  }
  .redes__cont {
    justify-content: center;
  }
  .redes img {
    width: 5vw;
  }
  /*fin exclusivo pagina acera*/
  /*termina main*/
}
/*mediaq desk*/
@media only screen and (min-width: 768px) {
  /*comienza header*/
  h1 {
    font-size: 35px;
  }
  nav li {
    font-size: medium;
  }
  h2 {
    font-size: x-large;
  }
  h3 {
    font-weight: bold;
    margin: 10px 25px 10px;
    font-size: large;
  }
  h4 {
    font-size: large;
  }
  p {
    font-size: medium;
    font-weight: normal;
  }
  /*termina main*/
}
/*mediaq xl*/
@media only screen and (min-width: 992px) {
  nav li {
    width: 15vw;
  }
  footer {
    height: 200px;
  }
  footer img {
    width: 150px;
    height: 150px;
  }
}
@-webkit-keyframes animacionheader {
  0% {
    background-color: #F2A80C;
  }
  10% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 90%);
  }
  20% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 80%);
  }
  30% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 70%);
  }
  40% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 60%);
  }
  50% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 50%);
  }
  60% {
    background-image: linear-gradient(to bottom right, #172CE6 60%, #F2A80C);
  }
  70% {
    background-image: linear-gradient(to bottom right, #172CE6 70%, #F2A80C);
  }
  80% {
    background-image: linear-gradient(to bottom right, #172CE6 80%, #F2A80C);
  }
  90% {
    background-image: linear-gradient(to bottom right, #172CE6 90%, #F2A80C);
  }
  100% {
    background-image: linear-gradient(to bottom right, #172CE6 95%, #F2A80C);
  }
}
@keyframes animacionheader {
  0% {
    background-color: #F2A80C;
  }
  10% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 90%);
  }
  20% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 80%);
  }
  30% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 70%);
  }
  40% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 60%);
  }
  50% {
    background-image: linear-gradient(to right, #172CE6, #F2A80C 50%);
  }
  60% {
    background-image: linear-gradient(to bottom right, #172CE6 60%, #F2A80C);
  }
  70% {
    background-image: linear-gradient(to bottom right, #172CE6 70%, #F2A80C);
  }
  80% {
    background-image: linear-gradient(to bottom right, #172CE6 80%, #F2A80C);
  }
  90% {
    background-image: linear-gradient(to bottom right, #172CE6 90%, #F2A80C);
  }
  100% {
    background-image: linear-gradient(to bottom right, #172CE6 95%, #F2A80C);
  }
}
@-webkit-keyframes bordermoves {
  0% {
    border: dashed;
  }
  100% {
    border: dotted;
  }
}
@keyframes bordermoves {
  0% {
    border: dashed;
  }
  100% {
    border: dotted;
  }
}
@-webkit-keyframes girar {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes girar {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(359deg);
  }
}/*# sourceMappingURL=estilo.css.map */